# Visaul Studio Stuff
*.sdf
*.suo
*Thumbs.db
*.opensdf
*.VC.db
*.VC.opendb
*.vcxproj.user
Build/*
SDL/VisualC/SDL/Debug/*
SDL/VisualC/SDL/Release/*
SDL/VisualC/SDLmain/Debug/*
SDL/VisualC/SDLmain/Release/*

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
